body{
	background: #0a3b8c;
	font-family: sans-serif;
	font-size: 14px;
}

.container{
	background: #fff;
}

.logo{
	padding:40px  20px;

}
.paginacao{
	width: 100%;
	display: flex;
	justify-content: center;
}

.pagination{
	width: 25%;
    justify-content: space-between;
}

.pagination li{
	padding: 10px;
}


.pagination li a{
	color: #4a90e2;
}

.active a{
    color: red;
}
.table {
    font-size: 15px;
}


#gmaps {
    width: 450px;
    height: 450px;
}

label{
	margin-right: 20px;
}
