<html ng-app="mouraApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista Baterias Moura</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/dirPagination.js"></script>
    <script src="js/services/distribuidorAPI.js"></script>
    <script src="js/controllers/distribuidorController.js"></script>
   

</head>
<body ng-controller="distribuidorCtrl">

    <div class="container-fluid conteudo">
        <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                    <div class="logo">
                          <img src="images/logo.png"> 
                    </div>
                   <!-- <button ng-click=""><span>Carregar</span></button>-->
                    <form class="form-inline">
                        <div class="form-group">
                            <label>Procure por um distribuidor:</label>
                            <input type="text" ng-model="procurar" class="form-control" placeholder="Procurar...">
                        </div>
                    </form>

                    <div class="table-responsive tabela-movimentacao">
                         <table class="table table-striped">
                            <tr>
                                    <th ng-click="ordenar('nome')">Nome</th>
                                    <th ng-click="ordenar('endereco.logradouro')">Endereço</th>
                                    <th ng-click="ordenar('email')">Email</th>
                                    <th ng-click="ordenar('telefone')">Telefone</th>
                            </tr>
                            <tr dir-paginate="distribuidor in lista.distribuidores|itemsPerPage:8|filter:procurar|orderBy:sortKey:reverse">
                                <td>{{distribuidor.nome}}</td>
                                <td><span>{{distribuidor.endereco.logradouro}} {{distribuidor.endereco.numero}} {{distribuidor.endereco.complemento}}</span><br>
                                <span>CEP: {{distribuidor.endereco.cep}} {{distribuidor.endereco.bairro}} {{distribuidor.endereco.cidade}}</span><br>
                                <span>{{distribuidor.endereco.cidade}} {{distribuidor.endereco.uf}} {{distribuidor.endereco.pais}}</span></td>
                                <td><p ng-repeat="email in distribuidor.email">{{email}}</p></td>
                                <td><p ng-repeat="telefone in distribuidor.telefone">{{telefone}}</p></td>
                            </tr>
                        </table>
                    </div><!-- table-->

                    <div class="paginacao">
                        <dir-pagination-controls max-size="5" boundary-links="true"></dir-pagination-controls>
                    </div><!-- paginação-->

                </div><!-- col-7-->
                    
                <div class="col-md-5 col-sm-12">
                    <div id="map"></div>

                    <div class="notification">
                        Clique nos pinos para ver a localização de um distribuidor Moura mais perto de você
                   </div>    <!-- notification-->           
                </div><!-- col-5-->
        
        </div> <!-- row-->
    </div> <!-- container-->    


   <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCAWXD0g0fbXbEkEmGP8_tJDDPtYt8S4DE&sensor=false"></script>
   <script  src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
   <script src="js/mapa.js"></script>
</body>
</html>